html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #fff;
}

.container {
    max-width: 1200px;
    padding: 40px 60px;
    margin: 0 auto;
}